{
    "presets": [
        [
            "env",
            {
                "useBuiltIns": true,
                "targets": {
                    "node": "current"
                }
            }
        ],
        "flow",
        "stage-0"
    ]
}
